//- index.jade
extends ./layout.jade

block content
  div.container-fluid(ng-controller='StatsCtrl')
    header
      div#shape1
      div#shape2
      div#shape3
      div.header-container
        div.logo
          img(src="images/Ambrosus.png").logo-image
          p.logo-text Network monitor
        div.status-container
          div.status.active-nodes
            p.status-name Active Nodes
            span.status-value(class="{{ nodesActive | nodesActiveClass : nodesTotal }}") {{nodesActive}}/{{nodesTotal}}
          div.status.gas-price
            p.status-name Nectar Price
            span.status-value {{ bestStats.gasPrice.toString() | gasPriceFilter }}
          div.status.gas-limit
            p.status-name Nectar Limit
            span.status-value {{ bestStats.block.gasLimit }} nectar
          div.status.page-latency
            p.status-name Page Latency
            span.status-value(class="{{ {active: true, latency: latency} | latencyClass }}") {{latency}} ms
          div.status.uptime
            p.status-name Uptime
            span.status-value(class="{{ upTimeTotal | upTimeClass : true }}") {{ upTimeTotal | upTimeFilter }}

    div.row(ng-cloak)
      div.col-xs-2.stat-holder
        div.big-info.bestblock.text-info
          img.icon-full-width(src="images/best-block-icon.png")
          div.big-details-holder
            span.small-title best block
            span.big-details {{'#'}}{{ bestBlock | number}}
          div.clearfix
      div.col-xs-2.stat-holder
        div.big-info.uncleCount.text-info
          img.icon-full-width(src="images/uncles-icon.png")
          div.big-details-holder
            span.small-title uncles&nbsp;
              span.small (current / last 50)
            span.big-details {{ bestStats.block.uncles.length }}/{{ uncleCount }}
          div.clearfix
      div.col-xs-2.stat-holder
        div.big-info.blocktime(class="{{ lastBlock | timeClass : true }}")
          img.icon-full-width(src="images/last-block-icon.png")
          div.big-details-holder
            span.small-title last block
            span.big-details {{ lastBlock | blockTimeFilter }}
            //- span.big-details(time-ago="lastBlock")
          div.clearfix
      div.col-xs-2.stat-holder
        div.big-info.avgblocktime(class="{{ avgBlockTime | avgTimeClass }}")
          img.icon-full-width(src="images/block-time-icon.png")
          div.big-details-holder
            span.small-title avg block time
            span.big-details {{ avgBlockTime | avgTimeFilter }}
          div.clearfix
      div.col-xs-4.stat-holder.map-holder
        //- div.col-xs-12
        nodemap#mapHolder(data="map")

      div.clearfix


    div.row(ng-cloak)
      div.col-xs-4.stat-holder.blocktime-holder
        div.big-info.chart(class="{{ avgBlockTime | avgTimeClass }}")
          //- i.icon-time
          span.small-title block time
          //- span.small-value {{ avgBlockTime | avgTimeFilter }}
          sparkchart.big-details.spark-blocktimes(data="{{lastBlocksTime.join(',')}}", tooltipsuffix="s", width="14px")

      div.col-xs-2.stat-holder.xpull-right
        div.big-info.chart.xdouble-chart(class="{{ blockPropagationAvg | propagationAvgTimeClass : true }}")
          //- i.icon-gas
          span.small-title block propagation
          //- span.small-value {{ blockPropagationAvg | blockPropagationFilter : '' }}
          histogram.big-details.d3-blockpropagation(data="blockPropagationChart")

      div.col-xs-2.stat-holder.xpull-right
        div.big-info.chart.xdouble-chart
          span.small-title last blocks miners
          div.blocks-holder(ng-repeat='miner in miners track by miner.miner', data-toggle="tooltip", data-placement="right", data-original-title="{{miner.blocks}}")
            div.block-count(class="{{miner.blocks | minerBlocksClass : 'text-'}}") {{miner.blocks}}
            //- div.small-title-miner {{miner.miner | minerNameFilter : miner.name}}
            div.small-title-miner {{miner.miner}}
            minerblock(blocks="{{miner.blocks}}")
            div.clearfix
    div.row(ng-cloak)
      div.col-xs-2.stat-holder
        div.big-info.chart.text-info
          //- i.icon-uncle
          span.small-title uncle count&nbsp;
            span.small (25 blocks per bar)
          //- span.small-value {{ bestStats.block.uncles.length }}/{{ uncleCount }}
          sparkchart.big-details.spark-uncles(data="{{uncleCountChart.join(',')}}")

      div.col-xs-2.stat-holder
        div.big-info.chart.text-info
          //- i.icon-uncle
          span.small-title transactions
          sparkchart.big-details.spark-transactions(data="{{transactionDensity.join(',')}}")

      div.col-xs-2.stat-holder
        div.big-info.chart.text-info
          //- i.icon-gasprice
          span.small-title nectar spending
          sparkchart.big-details.spark-gasspending(data="{{gasSpending.join(',')}}")

      div.col-xs-2.stat-holder
        div.big-info.chart.text-info
          //- i.icon-difficulty
          span.small-title nectar limit
          //- span.small-value {{ lastDifficulty | number }}
          nectarlimit.big-details.spark-difficulty(data="{{lastGasLimit.join(',')}}")

    div.row(ng-cloak)
      div.col-xs-12.stats-boxes
        div.row.second-row
          div.col-xs-12.stat-holder.box
            div.active-nodes.text-warning
              img(src="images/warning-icon.png")
              span.small-title This page does not represent the entire state of the ambrosus network - listing a node on this page is a voluntary process.
          //- div.col-xs-12.stat-holder.box
          //-   div.active-nodes.text-danger
          //-     i.icon-hashrate
          //-     span.small-title SECURITY ALERT
          //-     span.small-value
          //-       a(href="https://blog.ethereum.org/2015/09/10/security-alert-previous-security-patch-can-lead-to-invalid-state-root-on-go-clients-with-a-specific-transaction-sequence-fixed-please-update/", target="_blank", class="text-danger") Read the blog post


      //- div.clearfix

    div.row(ng-cloak, style="padding-top: 10px")
      table.table
        thead
          tr.text-info
            th.th-nodecheck
            th.th-nodename
              img.table-icon(src="images/active-nodes-icon2x.png", data-toggle="tooltip", data-placement="top", title="Node name", ng-click="orderTable(['info.name'], false)")
            th.th-nodetype
              img.table-icon(src="images/engine-icon.png", data-toggle="tooltip", data-placement="top", title="Node name", ng-click="orderTable(['info.name'], false)")
            th.th-latency
              img.table-icon(src="images/clock-icon.png", data-placement="top", title="Node latency", ng-click="orderTable(['stats.latency'], false)")
            th
              img.table-icon(src="images/anchor-icon.png", data-placement="top", title="Is mining", ng-click="orderTable(['-stats.hashrate'], false)")
            th
              img.table-icon(src="images/human-icon.png", data-placement="top", title="Peers", ng-click="orderTable(['-stats.peers'], false)")
            th
              img.table-icon(src="images/paperplane-icon.png", data-placement="top", title="Pending transactions", ng-click="orderTable(['-stats.pending'], false)")
            th
              img.table-icon(src="images/sqr-icon.png", data-toggle="tooltip", data-placement="top", title="Last block", ng-click="orderTable(['-stats.block.number', 'stats.block.propagation'], false)")
            th.th-blockhash &nbsp;
            th
              img.table-icon(src="images/check-icon.png", data-toggle="tooltip", data-placement="top", title="Block transactions", ng-click="orderTable(['-stats.block.transactions.length'], false)")
            th
              img.table-icon(src="images/cluster-icon.png", data-toggle="tooltip", data-placement="top", title="Uncles", ng-click="orderTable(['-stats.block.uncles.length'], false)")
            th.th-blocktime
              img.table-icon(src="images/clock-icon.png", data-toggle="tooltip", data-placement="top", title="Last block time", ng-click="orderTable(['-stats.block.received'], false)")
            th.th-peerPropagationTime
              img.table-icon(src="images/broke-clock-icon.png", data-toggle="tooltip", data-placement="top", title="Propagation time", ng-click="orderTable(['-stats.block.number', 'stats.block.propagation'], false)")
            th.th-peerPropagationChart
            th.th-peerPropagationAvg
              img.table-icon(src="images/broke-clock-icon.png", data-toggle="tooltip", data-placement="top", title="Average propagation time", ng-click="orderTable(['stats.propagationAvg'], false)")
            th
              img.table-icon(src="images/sun-icon.png", data-toggle="tooltip", data-placement="top", title="Up-time", ng-click="orderTable(['-stats.uptime'], false)")
        tbody(ng-cloak)
          tr(ng-repeat='node in nodes | orderBy:predicate track by node.id', class="table-row" id="node_{{node.id}}")
            td.td-nodecheck
              div(ng-click="pinNode(node.id)")
                img.table-icon(src="{{(node && node.pinned) ? 'images/star-on-icon.png' : 'images/star-off-icon.png'}}", data-toggle="tooltip", data-placement="right", data-original-title="Click to {{ node.pinned ? 'un' : '' }}pin")
            td.nodeInfo(rel="{{node.id}}")
              span(data-toggle="tooltip", data-placement="top", data-html="true", data-original-title="{{node | geoTooltip}}") {{node.info.name}}
              //- span.small &nbsp;({{node.info.ip}})
              a(href="https://github.com/ethereum/wiki/wiki/Network-Status#updating", target="_blank", data-toggle="tooltip", data-placement="top", data-html="true", data-original-title="Netstats client needs update.<br>Click this icon for instructions.", class="{{ node.info | nodeClientClass : currentApiVersion }}")
                img(src="images/warning-icon.png" class="table-icon")
            td
              div(ng-bind-html="node.info.node | nodeVersion")
            td(class="{{ node.readable.latencyClass }}")
              span {{ node.readable.latency }}
            td(class="{{ node.stats.mining | hashrateClass : node.stats.active }}", ng-bind-html="node.stats.hashrate | hashrateFilter : node.stats.mining")
            td(class="{{ node.stats.peers | peerClass : node.stats.active }}", style="padding-left: 11px;") {{node.stats.peers}}
            td(style="padding-left: 15px;") {{node.stats.pending}}
            td(class="{{ node.stats | blockClass : bestBlock }}")
              span(class="{{ node.readable.forkMessage ? node.readable.forkClass : '' }}") {{'#'}}{{ node.stats.block.number | number }}
              //- a.small(data-toggle="tooltip", data-placement="top", data-html="true", data-original-title="{{ node.readable.forkMessage }}", class="{{ node.readable.forkClass }}")
                i.icon-warning-o
            td(class="{{ node.stats | blockClass : bestBlock }}")
              span {{node.stats.block.hash | hashFilter}}
            td(style="padding-left: 14px;") {{node.stats.block.transactions.length || 0}}
            td(style="padding-left: 14px;") {{node.stats.block.uncles.length || 0}}
            td(class="{{ node.stats.block.received | timeClass : node.stats.active }}") {{node.stats.block.received | blockTimeFilter }}
            td(class="{{ node.stats | propagationTimeClass : bestBlock }}")
              div.propagationBox
              span {{node.stats.block.propagation | blockPropagationFilter}}
            td.peerPropagationChart(class="{{node.id}}")
              nodepropagchart(data="{{node.history.join(',')}}")
            td(class="{{ node.stats | propagationNodeAvgTimeClass : bestBlock }}") {{ node.stats | blockPropagationAvgFilter : bestBlock }}
            td(class="{{ node.stats.uptime | upTimeClass : node.stats.active }}") {{ node.stats.uptime | upTimeFilter }}
